<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUeU8bQgyay4lbwTnGJcOL2LsX-B3V4v8</string>
	<key>GCM_SENDER_ID</key>
	<string>1034191656081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnny.scrapper</string>
	<key>PROJECT_ID</key>
	<string>news-scrap-b64dd</string>
	<key>STORAGE_BUCKET</key>
	<string>news-scrap-b64dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034191656081:ios:894ae2698ef52e6b52db30</string>
</dict>
</plist>